.Categories-sken-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.CategoriesCard-sken {
  width: 160px;
  max-height: 400px;
  min-height: 355.84px;
  max-width: 250px;
  margin-right: 3px;
  border-radius: 3px;
  flex-grow: 1;
  position: relative;
}

.skeleton-image {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  animation: skeleton-animation 1.5s infinite alternate ease-in-out;
}

.skeleton-text {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: rgba(80, 79, 79, 0.1);
  animation: skeleton-animation 1s infinite alternate-reverse ease-in-out;
  position: absolute;
  bottom: 0;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.2;
    transform: translateY(-2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}